html, body
  --c1: #2F4F4F  /* Nero Carboncino - Più scuro */
  --c2: #8B4513  /* Marrone Terra */
  --c3: #D2B48C  /* Marrone Chiaro */
  --c4: #F5DEB3  /* Beige Sabbia */
  --c5: #FFF8DC  /* Bianco Crema - Più chiaro */
  --st: #00000050

  margin: 0
  min-height: 100vh
  background: var(--c1) !important
  font-family: Roboto, "Helvetica Neue", sans-serif

*
  box-sizing: border-box
  transition: 0.3s
  outline: none
  color: var(--c5)

#AppComponent
  height: 100vh
  background-image: url('/sfondo-legno.jpg')
  background-size: cover
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  
/* INPUT */
label
  font-style: italic

.form-control, .form-select
  background: transparent !important
  color: white !important
  appearance: auto !important
  resize: none !important

input.form-control:focus
  background: transparent
  color: white

*::placeholder
  color: inherit !important

/* MODIFICA CLASSI BOOTSTRAP */
a
  text-underline-offset: 5px
  font-style: italic

.form-control::placeholder
  color: #ffffff80 !important

/* PSEUDO BOOTSTRAP */
.flex-1
  flex: 1

.flex-auto
  flex: auto

.bg-transparent
  background: transparent

// font size  
.fs-7
  font-size: 0.8rem
  
.fs-8
  font-size: 0.6rem
  
.fs-9
  font-size: 0.4rem
  
.fs-10
  font-size: 0.2rem

.border
  border-color: inherit !important

.text-bg-st
  background-color: var(--st) !important
  color: var(--c5) !important

.text-bg-c1
  background-color: var(--c1) !important
  color: var(--c5) !important

.text-bg-c2
  background-color: var(--c2) !important
  color: var(--c5) !important

.text-bg-c3
  background-color: var(--c3) !important
  color: var(--c1) !important

.text-bg-c4
  background-color: var(--c4) !important
  color: var(--c5) !important

.text-bg-c5
  background-color: var(--c5) !important
  color: var(--c1) !important
